{{!-- referenced from the donut-shop hw --}}

<main>

	<h2>

		{{spursHBS.name}}

	</h2>

	<a href="/">Return to Pleague</a>

	<div class="spur-container-show ml-5 d-flex justify-content-around">
		<h2 id="spur-name">

				{{spursHBS.name}}

		</h2>

				<img src="{{spursHBS.img}}" />

		<br>
		<h3>Team:</h3>
			<p>

				{{spursHBS.team}}

			</p><br>

			<br>

		</div>

    <form action="/spurs/{{spursHBS._id}}?_method=DELETE" method="POST">
      <button type="submit">DELETE THIS PLAYER</button>
    </form>
</main>