{{!-- referenced from the donut-shop hw --}}

<main>

	<h2>You are viewing:

		{{spursHBS.name}}

	</h2>

	<a href="/">Return to Home Page</a>

	<div class="spur-container-show">
		<h2 id="spur-name">

				{{spursHBS.name}}

		</h2>

				<img src="{{spursHBS.img}}" />

		<br>
		<h3>Description:</h3>
			<p>

				{{spursHBS.team}}

			</p><br>

			<br>

		</div>

    <form action="/spurs/{{spursHBS._id}}?_method=DELETE" method="POST">
      <button type="submit">DELETE THIS PLAYER</button>
    </form>
</main>