
<div class="jumbotron mt-5">
  <h1 class="display-4">Atlanta Hawks</h1>
  <p class="lead">
  </p>
</div>

{{#each hawksHBS}}

<div class="card mt-5 ml-5 d-inline-flex" style="width: 18rem;">
  <img class="card-img-top" src="{{img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <h5 class="card-title">{{team}}</h5>
    <p class="card-text">{{number}}</p>
    <a href="/hawks/{{_id}}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{{/each}}

{{!-- form container --}}

  <div class="mt-5 ml-5">

<form action="/hawks" method="POST">

<label for="name"> Name
  <input name="name" type="text">
</label>

<label for="number"> Number
  <input name="number" type="text">
</label>

<label for="img"> img
  <input name="img" type="text">
</label>

<button type="submit">add</button>
</form>



