
<div class="jumbotron mt-5">
  <h1 class="display-4">Atlanta Hawks</h1>
  <p class="lead">
  </p>
</div>

{{#each hawksHBS}}

<div class="card mt-5 ml-5 d-inline-flex" style="width: 18rem;">
  <img class="card-img-top" src="{{img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <h5 class="card-title">{{team}}</h5>
    <p class="card-text">{{number}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{{/each}}

{{!-- form container --}}

  <div class="mt-5 ml-5">

<form action="/post">

<label for=""> Name
  <input type="text">
</label>

<label for=""> Number
  <input type="text">
</label>

<label for=""> img
  <input type="text">
</label>
</form>

<a href="/hawks/{{_id}}">
<button>Add me</button>
</a>
</div>