{{!-- referenced from the donut-shop hw --}}

<main>

	<h2 class="mx-auto">Player Card

		{{hawksHBS.name}}

	</h2>

	<a href="/">Return to Pleague</a>

	<div class="hawk-container-show ml-5 d-flex justify-content-around">
		<h2 id="hawk-name">

				{{hawksHBS.name}}

		</h2>

				<img src="{{hawksHBS.img}}" />

		<br>
		<h3>Team:</h3>
			<p>

				{{hawksHBS.team}}

			</p><br>

			<br>

		</div>

    <form action="/hawks/{{hawksHBS._id}}?_method=DELETE" method="POST">
      <button type="submit">DELETE THIS PLAYER</button>
    </form>
</main>