<main>

	<h2>You are viewing:

		{{hawksHBS.name}}

	</h2>

	<a href="/">Return to Home Page</a>

	<div class="donut-container-show">
		<h2 id="donut-name">

				{{hawksHBS.name}}

		</h2>

				<img src="{{hawksHBS.img}}" />

		<br>
		<h3>Description:</h3>
			<p>

				{{hawksHBS.team}}

			</p><br>
		{{!-- <h3>Price:</h3>
			<p id="cost">$

				{{donut.price}} each</p><br>

			<h3 id="quantity">

	 				{{donut.qty}} remaining

			</h3> --}}

			<br>

		</div>

    <form action="/hawks/{{_id}}?_method=DELETE" method="POST">
      <button type="submit">DELETE THIS PLAYER</button>
    </form>
</main>