<main>

	<h2>You are viewing:

		{{hawksHBS.name}}

	</h2>

	<a href="/">Return to Home Page</a>

	<div class="donut-container-show">
		<h2 id="donut-name">

				{{hawksHBS.name}}

		</h2>

				<img src="{{hawksHBS.img}}" />

		<br>
		<h3>Description:</h3>
			<p>

				{{hawksHBS.team}}

			</p><br>

			<br>

		</div>

    <form action="/hawks/{{hawksHBS._id}}?_method=DELETE" method="POST">
      <button type="submit">DELETE THIS PLAYER</button>
    </form>
</main>