<main>

	<h2>

		{{knicksHBS.name}}

	</h2>

	<a href="/">Return to Pleague</a>

	<div class="donut-container-show ml-5 d-flex justify-content-around">
		<h2 id="donut-name">

				{{knicksHBS.name}}

		</h2>

				<img src="{{knicksHBS.img}}" />

		<br>
		<h3>Team:</h3>
			<p>

				{{knicksHBS.team}}

			</p><br>

			<br>

		</div>

    <form action="/knicks/{{knicksHBS._id}}?_method=DELETE" method="POST">
      <button type="submit">DELETE THIS PLAYER</button>
    </form>
</main>